@import "theme-forgejo-dark.css";

:root {
  --disroot-main: #50162D;
  --disroot-main-light1: #611332;
  --disroot-main-light2: #a43a65;
  --disroot-main-dark1: #201c1c;
  --disroot-secondary: #8EB726;
  --disroot-secondary-light1: #afcf60;
  --disroot-secondary-light2: #cde78c;
  --disroot-secondary-dark1: #71911E;
  --disroot-tertiary: #1F5C60;
  
  --color-primary: var(--disroot-main); /*#fb923c;*/
  --color-primary-contrast:  #fff; /*#000;*/
  --color-primary-dark-1: var(--disroot-main-dark1); /*#fdba74;*/
  --color-primary-dark-2: var(--disroot-main-dark1); /*#fdba74;*/
  --color-green: var(--disroot-main); /*#15803d;*/
  --color-grey: var(--disroot-main); /*var(--steel-500);*/
  --color-green-light: var(--disroot-main-light1); /*#16a34a;*/
  --color-footer: var(--disroot-main-dark1); /*var(--steel-900);*/
  --color-nav-bg: var(--disroot-main-dark1); /*var(--steel-900);*/
}


/* Disroot Modifications */
.ui.basic.red.button {
  background-color: var(--steel-650); /*var(--color-red);*/                                                                                                  
  color: var(--color-red); /*var(--color-white);*/                                                                                                           
}


/* Disroot additions */

/* Top bar */
#navbar > .menu > .item {
	color: var(--zinc-200);
}

#navbar > .menu > .item:hover {
	color: var(--zinc-50);
  background: var(--disroot-main);
}

#navbar > .menu > .active.item {
	color: var(--zinc-50);
  background: var(--disroot-main-light1);
}

#navbar > .menu > .right .item:hover {
	color: var(--zinc-50);
  background: var(--disroot-main);
}

#navbar > .menu > .righ .active.item {
	color: var(--zinc-50);
  background: var(--disroot-main-light1);
}

#navbar a.item .notification_count, #navbar a.item .header-stopwatch-dot {
  background: var(--disroot-main-light2);
}

#navbar a.item .notification_count, #navbar a.item .header-stopwatch-dot {
  background: var(--disroot-purple-even-lighter);
}

/* Dashboard navbar (for Organizations)  */
.dashboard.feeds .right.stackable.menu > .item.active, .dashboard.issues .right.stackable.menu > .item.active {
	color: var(--disroot-main-light2);
}

/* Footer */
.page-footer .left-links > a {
	color: var(--disroot-secondary);
}

.page-footer .right-links > a {
	color: var(--disroot-secondary);
}

/* Links */
a {                                                         
  color: var(--disroot-main-light2);                                                                                                             
}

a:hover, a.muted:hover{                                                         
  color: var(--disroot-main-light2);                                                                                                             
}

.flex-item a:not(.label, .button):hover {
	color: var(--disroot-main-light2) !important;
}


